#containerflex1{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
#containerflex1 > p{
    width: 700px;
    padding: 5px;
    margin-left: 4%;
    font-size: larger;


}
#containerflex1 > a{
    width: 500px;
    padding: 5px;

}
#containerflex1 a >img{
    width: 100%;
}

#containerflex2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#containerflex2 > p{
    width: 700px;
    padding: 5px;
    margin-right: 7%;
    font-size: larger;


}
#containerflex2 > a{
    width: 500px;
    padding: 5px;

    
}
#containerflex2 a >img{
    width: 100%;
}