

*, html, body {

    padding: 0;
    margin: 0;
    color: #070707;
    background-color: #ececec;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
  }

  /*
    Modifie la tête des links
  */

  a {
    text-decoration: none;
  }
/*Effet d'activation les liens*/ 
a:active {
  color: red;
}
/*
  Media Queries pour le texte en dessous du caroussel
*/
  @media screen and (orientation: landscape) {
    #baratin {
      width: 100%;
      align-self: center;
      justify-content: center;
      font-size: large;
    }

    #baratinContainer {
      width: 50vw;
      height: 300px;
      align-items: center;
      margin: auto;
      padding-bottom: 5vh;
    }
  }

  @media screen and (orientation: portrait) {
    #baratin {
      width: 100%;
      align-self: center;
      justify-content: center;
      font-size: medium;
    }

    #baratinContainer {
      width: 100vw;
      height: 300px;
      align-items: center;
      margin: auto;
      padding-bottom: 5vh;
    }
  }


/*Css pour le footer*/
 footer {
    position: absolute;  
    width: 100%;
  }
/*Gestion du text pour le footer*/
footer p{
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
  

/*Ancre retour haut de page*/
.top{
  float:right;
  font-size: 14px;
}