

*, html, body {

    padding: 0;
    margin: 0;
    color: #070707;
    background-color: #ececec;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    
  }

  /*
    Modifie la tête des links
  */

  a {
    text-decoration: none;
  }
/*Effet d'activation les liens*/ 
a:active {
  color: red;
}
/*
  Media Queries pour le texte en dessous du caroussel
*/
  @media screen and (orientation: landscape) {
    #baratin {
      width: 100%;
      align-self: center;
      justify-content: center;
      font-size: large;
    }

    #baratinContainer {
      width: 50vw;
      height: 300px;
      align-items: center;
      margin: auto;
      padding-bottom: 5vh;
    }
  }

  @media screen and (orientation: portrait) {
    #baratin {
      width: 90%;
      align-self: center;
      justify-content: center;
      font-size: medium;
      margin: auto;
    }

    #baratinContainer {
      width: 100vw;
      align-items: center;
      margin: auto;
      padding-bottom: 5vh;
    }
  }

/*
  CSS Pour les valeurs des ingrédients
*/

.minus_button {
  width: 3vw;
  height: 3vh;
  display: inline-flex;
}

.plus_button {
  width: 3vw;
  height: 3vh;
  display: inline-flex;
}

.ingredients_button {
  width: 3vw;
  height: 3vh;
  display: inline-flex;
}

.Ingredients_list {
  display: flex;
}

.Ingredient_tile {
  width: 10%;
  margin: 10px;
  text-align: center;
}

.Image_container {
  height: 10vh;
}

.Ingredient_tile_content {
  width: 100%;
  margin-top: 5px;

}

.Ingredient_image {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.name {
  width: 100%;
}
 




/*Css pour le footer*/
 footer {
    position: absolute;  
    width: 100%;
  }
/*Gestion du text pour le footer*/
footer p{
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
  

/*Ancre retour haut de page*/
.top{
  float:right;
  font-size: 14px;
}