*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: initial;

}

body {   
    background-color: #ececec; 
  }

  header{
    background-color: #f0745b;
    color:white;
    padding: 15px;
  }

  /*
    CSS pour le titre de la recette traité a part
  */

  .Titre_recette {
    font-weight: bold;
    text-align: center;
    margin-top: 10vh;
  }
  h1{
    margin:0;
    text-align: center;
  }
  h1 #titre{
    display:bloc;
  }
  h2 {
    text-align: center;

    margin-bottom: 15px;
    font-weight: bold;
  }

  h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
  }

  #Intro{
    font-size: 20px;
    margin-inline: 10%;
    text-align: justify;
  }
  
  /*Gestion du padding pour rendre le texte plus aherer(sous la section imagé)*/
  .Gros_paver{
    padding:15px;
  }

  #baratinContainer{
    padding-top:40px;
  }
  /*
    Taille de police pour le sous titre du site
  */

  .Sous_titre_site {
    font-size: 25px;
  }

  /*
    Modifie la tête des links
  */

  a {
    text-decoration: none;
    color:black;
  }

/*Effet d'activation les liens*/ 
a:active {
  color: red;
}


/*
  CSS Pour la préparation
*/

.Prep_and_image {
  display: flex;
  align-items: center;
}

.Prep_container {
  width: 50%;
}

.Cook_container {
  width:50%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: center;
  font-size: large;
}

.Cook_image { 
  width: 80%;
  margin: auto;
  object-fit: contain;
}

.Prep_step {
  margin-bottom: 30px;
}

/*
  CSS Pour les valeurs des ingrédients
*/

.minus_button {
  width: 3vw;
  height: 3vh;
  display: inline-flex;
}

.plus_button {
  width: 3vw;
  height: 3vh;
  display: inline-flex;
}

.ingredients_button {
  width: 3vw;
  height: 3vh;
  display: inline-flex;
}

.Ingredients_list {
  display: flex;
}

.Ingredient_tile {
  width: 10%;
  margin: 10px;
  text-align: center;
}

.Image_container {
  height: 10vh;
}

.Ingredient_tile_content {
  width: 100%;
  margin-top: 5px;

}

.Ingredient_image {
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.name {
  width: 100%;
}
 




/*Css pour le footer*/
 footer {
    position: absolute;  
    width: 100%;
    background-color: #f0745b;


  }
/*Gestion du text pour le footer*/
footer p{
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
  

/*Ancre retour haut de page*/
.top{
  float:right;
  font-size: 14px;
}