/*Gestion de l'esthetique du formulaire*/

#fond_form{
    background-image: url("../images/fond_formulaire.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-inline: 15%;
    padding-bottom: 5%;
}

#Form_body{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-right:10%;
    padding-top: 5%;

    
}
#Submit_container{
    padding-left: 5%;
}

div{
    padding-top: 10px;;
}
input{
    padding:10px;
    width: 150%;
}

/*Effet de validation pour le contenu des cases*/
.invalid {
    border-color: red;
    border-width: 3px;
    margin-bottom: 0.7vh;
}

.valid {
    margin-bottom: 0.7vh;
    border-color: green;
    border-width: 3px;

}

.initial {
    margin-bottom: 0.7vh;
}

/*reglage particulier pour le margin du menu sur le formulaire*/
.menu{
    margin-bottom: 30px;
}

h2{
    padding-top: 50px;
    font-size: 45px;
    color:#00ffe7}