/*
  Media Queries pour le texte en dessous du caroussel
*/
  @media screen and (orientation: landscape) {
    #baratin {
      width: 100%;
      align-self: center;
      justify-content: center;
      font-size: large;
    }

    #baratinContainer {
      width: 80vw;
      align-items: center;
      margin: auto;

    }
  }

  @media screen and (orientation: portrait) {
    #baratin {
      width: 90%;
      align-self: center;
      justify-content: center;
      font-size: medium;
      margin: auto;
    }

    #baratinContainer {
      width: 50vw;
      align-items: center;
      margin: auto;
      padding-bottom: 5vh;
    }
  }

/*
  Media Queries pour les flexboxs
*/

@media screen and (orientation: portrait) {
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  #containerflex1 > p{
    order:1;
  }
  #containerflex1 > a{
    width:300px;


  }
  #containerflex2 > p{
    order:1;
  }
  #containerflex2 > a{
    order:2;
    width:300px;

  }
  header > h1 {
    font-size: 5vw;
}

}

/*
  Media Queries pour le menu
*/
@media screen and (orientation: portrait) {
  .menu{
    display:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
  
}

/*
 Media Queries pour les recettes
*/

@media screen and (max-width: 860px) {
  .Ingredients_list {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}

@media screen and (max-width: 650px) {
  .Ingredients_list {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  .Image_container {
    height: 15vh;
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 450px) {
  .Ingredients_list {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  .Image_container {
    height: 10vh;
    width: 100%;
    overflow: hidden;
  }
}

/*
  Media Queries pour le chat
*/

@media screen and (orientation: portrait) {
  #Chat_list{
    min-height: 55vh;
    max-height: 55vh;
  }
}

/*Media queres bouton connection*/





