/*
  Media Queries pour le texte en dessous du caroussel
*/
  @media screen and (orientation: landscape) {
    #baratin {
      width: 100%;
      align-self: center;
      justify-content: center;
      font-size: large;
    }

    #baratinContainer {
      width: 80vw;
      align-items: center;
      margin: auto;

    }
  }

  @media screen and (orientation: portrait) {
    #baratin {
      width: 90%;
      align-self: center;
      justify-content: center;
      font-size: medium;
      margin: auto;
    }

    #baratinContainer {
      width: 50vw;
      align-items: center;
      margin: auto;
      padding-bottom: 5vh;
    }
  }

/*
  Media Queries pour les flexboxs
*/

@media screen and (orientation: portrait) {
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  #containerflex1 > p{
    order:1;
  }
  #containerflex1 > a{
    width:300px;


  }
  #containerflex2 > p{
    order:1;
  }
  #containerflex2 > a{
    order:2;
    width:300px;

  }
  header > h1 {
    font-size: 5vw;
}

}

/*
  Media Queries pour le menu
*/
@media screen and (orientation: portrait) {
  .menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
  
}


/*Media queres bouton connection*/

@media screen and (max-width:700px) {
  #modal1{
    width: 100%;
    right: 0;
    top:90px;
  }
  aside h2{
    font-size: 6vw;


  }


}
