#Menu_mobile_png{
    display:none;
}
.menu_mobile {
    display: none;
}
@media screen and (orientation: portrait) {
    #Menu_mobile_png{
        display:flex;
        width:50px;
        float:left;
        z-index: 5;
        cursor: pointer;
    }
    
    .menu_mobile {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        background-color: #f0745b;
        width: 40%;
        z-index: 4;
        text-align: center;
    }
    .menu_mobile ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
    }
    .menu_mobile ul li {
        padding: 10px;
    }
    .menu_mobile ul li:last-child {
        border-bottom: none;
    }
    .menu_mobile ul li a {
        text-decoration: none;
    }
    .sous_menu {
        display: none;
    }

}