#modal1{
    display:none;
    position:absolute;
    top:35px;
    right: 70px;
    z-index: 10;
    background: linear-gradient(#ffc0c0,#f0745b);
    width:28%;
    height: 140%;

}

#Login_form{
    display: flex;
    align-items: center;
    flex-direction: column;

}
#Login_form div{
    padding-top: 10px;;
}
aside h2{
    color:black;
    font-size: 2vw;
}

#Inscription{
    color:rgb(255, 255, 255);
    font-size:15px;
    font-style: italic;
    padding-top:15px
}