#modal1{
    display:none;
    position:absolute;
    width: 50%;
    max-width: 400px;
    right: 0;
    top:90px;
    z-index: 10;
    background: linear-gradient(#e33f0d,#f0745b);
    border-radius: 30px;
    box-shadow: 6px 6px 2px 1px #c7b3b3

}
#Image_profil:focus{
    outline: 3px solid blue !important;
}
#Login_form{
    display: flex;
    align-items: center;
    flex-direction: column;

}
#Login_form div{
    padding-top: 10px;;
}
aside h2{
    color:black;
    font-size: 25px;
}

#Inscription{
    color:rgb(255, 255, 255);
    font-size:15px;
    font-style: italic;
    padding-top:15px
}

